<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Тут автор</strong>
    <small>12.09.2019</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur, beatae cum deserunt dolorum eaque eligendi enim est et exercitationem illo laudantium modi molestias nesciunt quibusdam quisquam, quod recusandae reprehenderit saepe tempore. A aliquid debitis dicta, distinctio eius exercitationem expedita fugiat impedit labore non officia perspiciatis quis sapiente suscipit voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur, beatae cum deserunt dolorum eaque eligendi enim est et exercitationem illo laudantium modi molestias nesciunt quibusdam quisquam, quod recusandae reprehenderit saepe tempore. A aliquid debitis dicta, distinctio eius exercitationem expedita fugiat impedit labore non officia perspiciatis quis sapiente suscipit voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur, beatae cum deserunt dolorum eaque eligendi enim est et exercitationem illo laudantium modi molestias nesciunt quibusdam quisquam, quod recusandae reprehenderit saepe tempore. A aliquid debitis dicta, distinctio eius exercitationem expedita fugiat impedit labore non officia perspiciatis quis sapiente suscipit voluptate.</p>
  </div>
</div>
