<div class="container">
  <h1>Angular Pipes</h1>

  <p>
<!--    Output: Sun Oct 01 2023 19:39:45 GMT+0300 (Москва, стандартное время)-->
    {{date}}
  </p>

  <p>
    <!--    Output: Oct 1, 2023-->
    {{date | date}}
  </p>

  <p>
    <!--    Output: Sunday, October 1, 2023-->
    {{date | date:'fullDate'}}
  </p>

  <p>
    <!--    Output: October 1, 2023-->
    {{date | date:'longDate'}}
  </p>

  <p>
    <!--    Output: October 01 2023, 19:49:50 -->
    {{date | date:'MMMM dd yyyy, HH:mm:ss'}}
  </p>

<!--  See more formats for pipes at site: https://angular.io/api filter by pipe-->
</div>
