<h1>Posts page</h1>

<!--Добавляем квери параметр, передаваемый объект {showIds: true} конвертирует нам в квери параметр   -->
<button
  class="btn"
  [routerLink]="['/posts']"
  [queryParams]="{showIds: true}"
>
  Show Ids
</button>
<button class="btn">
  Show Ids (program)
</button>

<div class="card" *ngFor="let post of postsService.posts">
  <h4>
    <!-- Точно байндим routerLink потому что внутрь мы будем передавать некоторую динамику
      второй параметр post.id будет конкатенировать с первым и так мы будем получать наш динамический путь
      к конкретному посту
      -->
    <a [routerLink]="['/posts', post.id]">
      <!--Если у нас флаг showids находится в значении true, то только в том случае покажем данный тег-->
     <strong *ngIf="showIds">(ID {{post.id}})</strong>
      {{post.title}}
    </a>
  </h4>
</div>
